/* ======================ALL===================== */

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5vw 5vw;
}

.section-title {
    color: #4d6d6b;
    font-size: 5vw;
}

.city {
    display: grid;
}

.city-info {
    display: grid;
    grid-template-columns: repeat(3, fit-content(100%));
    grid-column-gap: 1vw;
}

.city-info-name {
    align-self: center;
    color: #6f8088;
    font-size: 4vw;
    font-weight: bold;
}

.city-info-temperature {
    align-self: center;
    justify-self: end;
    color: #7e7e7e;
    font-size: 4vw;
}

.city-info-icon {
    display: flex;
    justify-self: start;
    align-self: center;
    width: 3vw;
}

.city-info-icon img {
    width: 100%;
    height: 100%;
}

.weather-info {
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 1vw;
    color: white;
    font-size: 3vw;
}

.weather-info-item {
    display: flex;
    justify-content: space-between;
    background-color: #a7afb0;
    padding: 1vw;
}

.weather-info-feature {
    font-weight: bold;
    color: #eef5f8;
}

.weather-info-value {
    text-align: end;
    color: #e8edef;
}


/* ======================BUTTONS===================== */

button {
    user-select: none;
    outline: none;
}

button:hover {
    cursor: pointer;
}

.update-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 1vw;
    outline: none;
    background-color: #a7a7a7;
    padding: 1vw 2vw;
}

.update-button span {
    display: none;
    font-weight: bold;
    color: #4f5f66;
}

.update-button img {
    width: 4vw;
    height: 4vw;
}

@media (min-width:767px) {
    .update-button span {
        display: block;
    }
    .update-button img {
        display: none;
    }
}

.round-button {
    height: 4vw;
    width: 4vw;
    font-size: 2vw;
    border: none;
    border-radius: 50%;
    background-color: #4f5f66;
    color: white;
    outline: none;
    padding: 0;
    justify-content: center;
}


/* ======================HEADER===================== */

.header {
    width: 100%;
    display: grid;
    grid-row-gap: 2vw;
    grid-template-columns: fit-content(100%) 1fr;
    grid-row-gap: 1.5vw;
    grid-column-gap: 4vw;
    grid-template-areas: "section-title update-button" "city city";
}

.header .section-title {
    grid-area: section-title;
    align-self: center;
}

.header .city {
    display: grid;
    grid-area: city;
    grid-row-gap: 1.5vw;
}

.header .city .city-info {
    grid-row-gap: 1vw;
    grid-template-areas: "city-name city-name" "weather-icon weather-temperature";
}

@media (min-width:767px) {
    .header .city {
        grid-template-columns: repeat(2, 50fr);
    }
}

.header .city .city-info-name {
    grid-area: city-name;
    font-size: 4vw;
}

.header .city .city-info-temperature {
    grid-area: weather-temperature;
    align-self: center;
    font-size: 12vw;
}

.header .city .city-info-icon {
    grid-area: weather-icon;
    width: 10vw;
}


/* ======================MAIN===================== */

.main {
    width: 100%;
    padding-top: 3vw;
    display: grid;
    grid-row-gap: 2vw;
}

.fav-header {
    display: grid;
    grid-row-gap: 2vw;
    grid-column-gap: 2vw;
}

@media (min-width:767px) {
    .fav-header {
        grid-template-columns: repeat(2, 50fr);
    }
}

.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 1vw;
}

.form .round-button {
    align-self: center;
}

.form-input {
    font-size: 3vw;
    border: none;
    color: #6a8387;
    background-color: #f1f1f1;
    padding: 1vw;
}

.form-input:focus {
    outline: none;
}

.form-input::placeholder {
    color: #6a8387;
}

.form-input:focus::placeholder {
    visibility: hidden;
}

.fav-list {
    display: grid;
    grid-gap: 2.5vw;
}

@media (min-width:767px) {
    .fav-list {
        grid-template-columns: repeat(2, 50fr);
    }
}

.fav-city {
    grid-row-gap: 2vw;
    grid-template-areas: "city-info remove-button" "weather-info weather-info";
}

.fav-city .city-info {
    grid-area: city-info;
}

.fav-city .round-button {
    justify-self: end;
    align-self: center;
    grid-area: remove-button;
}

.fav-city .weather-info {
    grid-area: weather-info;
}


/* ======================LOADER===================== */

.header .loader-on,
.fav-list .loader-on {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-gap: unset;
    grid-row-gap: unset;
    grid-template-columns: none;
}

.loader-on .city-info,
.loader-on .weather-info {
    display: none;
}

.loader-on .city-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10vh;
    margin-bottom: 1vh;
    min-width: 280px;
    width: 100%;
}

.city-loader {
    display: none;
    justify-content: center;
    align-items: center;
}

.city-loader .loader-icon {
    background-image: url("../assets/loader.svg");
    color: black;
    background-repeat: no-repeat;
    height: 3vw;
    width: 3vw;
    margin: 2vw;
}